.#custom.el
.cache/
.dap-breakpoints
.emacs.d
.extension/
.lsp-session-v1
auto-save-list/
backups/
custom.el
custom.el~
eln-cache/
elpa/
history
places
projectile-bookmarks.eld
projectile.cache
quelpa/
straight/
tramp
transient/
var/
workspace/
*~
